body {
    font-family: "Roboto", sans serif;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    background-color: #E7E9FC;
    font-weight: 500;
}


.portfolio .link:hover,
.portfolio .link:focus {
    color: #cf4014;
}

.nav .link:hover,
.nav .link:focus {
    color: #c0dd18 ;
}

.address .link:hover,
.address .link:focus {
    color: #c0dd18;
}

button {
    color: #83bb1c;
    cursor: pointer;
}